{% extends "account/base_entrance.html" %}
{% load allauth %}
{% load i18n %}

{% block extra_body_head_title %}
    {% trans "Confirm Access" %}
{% endblock extra_body_head_title %}

{% block extra_body_form %}
    {% element p %}
        {% blocktranslate %}Please reauthenticate to safeguard your account.{% endblocktranslate %}
    {% endelement %}
    {% block reauthenticate_content %}{% endblock %}
    {% if reauthentication_alternatives %}
        {% element hr %}
        {% endelement %}
        {% element h2 %}
            {% translate "Alternative options" %}
        {% endelement %}
        <ul>
            {% for alt in reauthentication_alternatives %}
                <li>
                    <a href="{{ alt.url }}">{{ alt.description }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock extra_body_form %}
