{% extends "account/base_entrance.html" %}
{% load static %}
{% load i18n %}
{% load csp %}
{% load i18n allauth account %}
{% load form_tags %}

{% block extra_body_head_title %}
    {% trans "Password Reset" %}
{% endblock extra_body_head_title %}

{% block extra_body_form %}
<form id="passwordResetForm" method="post" action="{{ attrs.action }}">
    {% csrf_token %}
    <div class="form-floating mb-3">
        {{ form.email|add_attrs:'class:form-control,placeholder:Enter your email...' }}
        <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
        {% if form.email.errors %}
            {% for error in form.email.errors %}
                <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
        {% endif %}
    </div>
    <button class="btn btn-primary btn-xl float-end" id="submitButton" type="submit">{% trans "Reset My Password" %}</button>
</form>
{% endblock extra_body_form %}
