{% extends "account/base_manage_password.html" %}
{% load static %}
{% load i18n %}
{% load csp %}
{% load allauth i18n %}
{% load form_tags %}

{% block extra_body_head_title %}
    {% trans "Change Password" %}
{% endblock extra_body_head_title %}

{% block extra_body_form %}
    {% url 'account_change_password' as action_url %}
    <form id="changePasswordForm" method="post" action="{{ attrs.action }}">
        {% csrf_token %}
        <div class="form-floating mb-3">
            {{ form.oldpassword|add_attrs:'class:form-control,placeholder:Enter your current password...' }}
            <label for="{{ form.oldpassword.id_for_label }}">{{ form.oldpassword.label }}</label>
            {% if form.oldpassword.errors %}
                {% for error in form.oldpassword.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="form-floating mb-3">
            {{ form.password1|add_attrs:'class:form-control,placeholder:Enter new password...' }}
            <label for="{{ form.password1.id_for_label }}">{{ form.password1.label }}</label>
            {% if form.password1.errors %}
                {% for error in form.password1.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="form-floating mb-3">
            {{ form.password2|add_attrs:'class:form-control,placeholder:Confirm new password...' }}
            <label for="{{ form.password2.id_for_label }}">{{ form.password2.label }}</label>
            {% if form.password2.errors %}
                {% for error in form.password2.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
            {% endif %}
        </div>
        <button class="btn btn-primary btn-xl float-end" id="submitButton" type="submit">{% trans "Change Password" %}</button>
    </form>
{% endblock extra_body_form %}
