{% extends "account/base_entrance.html" %}
{% load static %}
{% load i18n %}
{% load csp %}
{% load allauth %}
{% load account %}

{% block extra_body_head_title %}
    {% trans "Password Reset" %}
{% endblock extra_body_head_title %}

{% block extra_body_form %}
    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    {% element p %}
        {% blocktrans with contact_url=contact_url %}We have sent you an email. If you have not received it please check your spam folder. Otherwise <a href="{{ contact_url }}">contact</a> us if you do not receive it in a few minutes.{% endblocktrans %}
    {% endelement %}
{% endblock extra_body_form %}
