{% extends "account/base_manage_password.html" %}
{% load static %}
{% load i18n %}
{% load csp %}
{% load allauth %}

{% block extra_body_head_title %}
    {% trans "Set Password" %}
{% endblock extra_body_head_title %}

{% block extra_body_form %}
    {% element h1 %}
        {% trans "Set Password" %}
    {% endelement %}
    {% url 'account_set_password' as action_url %}
    {% element form method="post" action=action_url %}
        {% slot body %}
            {% csrf_token %}
            {{ redirect_field }}
            {% element fields form=form %}
            {% endelement %}
        {% endslot %}
        {% slot actions %}
            {% element button type="submit" name="action" %}
                {% trans 'Set Password' %}
            {% endelement %}
        {% endslot %}
    {% endelement %}
{% endblock extra_body_form %}
