{% extends "account/base_entrance.html" %}
{% load static %}
{% load i18n %}
{% load csp %}
{% load allauth account %}
{% load form_tags %}

{% block extra_body_head_title %}
{% trans "Two-Factor Authentication Settings" %}
{% endblock extra_body_head_title %}

{% block extra_body_form %}
    <form method="post" class="needs-validation" novalidate>
        {% csrf_token %}
        <div class="form-check mb-3 h4">
            <div>
                {% for radio in form.login_method %}
                <div class="form-check py-2">
                    {{ radio.tag }}
                    <label class="form-check-label" for="{{ radio.id_for_label }}">
                        {{ radio.choice_label }}
                    </label>
                </div>
                {% endfor %}
            </div>
        </div>
        <button class="btn btn-primary btn-lg float-end" id="submitButton" type="submit">{% trans "Save" %}</button>
    </form>
{% endblock extra_body_form %}
