{% extends "account/base_entrance.html" %}
{% load static %}
{% load i18n %}
{% load csp %}
{% load allauth %}
{% load settings_tags %}

{% block extra_body_head_title %}
    {% trans "Verify Your Email Address" %}
{% endblock extra_body_head_title %}

{% block extra_body_form %}
    <p>
        {% blocktrans with contact_url=contact_url %}We have sent an email to you for verification. Follow the link provided to finalize the signup process. If you do not see the verification email in your main inbox, check your spam folder. Please <a href="{{ contact_url }}">contact</a> us if you do not receive the verification email within a few minutes.{% endblocktrans %}
    </p>
    <p>
        {% trans "The verification link is valid for" %} {% get_setting "ACCOUNT_EMAIL_CONFIRMATION_EXPIRE_DAYS" %} {% trans "days." %}
    </p>
{% endblock extra_body_form %}
