{% extends "portfolio_base.html" %}
{% load static %}
{% load i18n %}
{% load csp %}
{% load account %}
{% load allauth %}

{% block head_title %}
<title>Auth</title>
{% endblock head_title %}

{% block body_nav_collapse_nav_item_portfolio %}
{% endblock body_nav_collapse_nav_item_portfolio %}
{% block body_nav_collapse_nav_item_about %}
{% endblock body_nav_collapse_nav_item_about %}
{% block body_nav_collapse_nav_item_contact %}
{% endblock body_nav_collapse_nav_item_contact %}

{% block body_header %}
<header><br><br><br><br><br><br></header>
{% endblock body_header %}

{% block body_section %}
{% if messages %}
<div class="alert-container mx-3">
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            <strong>{{ message.tags|title }}:</strong> {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
</div>
<br><br>
{% endif %}
{% endblock body_section %}

{% block extra_body %}
<div class="container">
    <!-- Heading-->
    <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">
        {% block extra_body_head_title %}
        Login
        {% endblock extra_body_head_title %}
    </h2>
    <!-- Icon Divider-->
    <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><img src="{% static 'assets/img/star-fill.svg' %}" alt="Star Icon" class="img-fluid"></i></div>
        <div class="divider-custom-line"></div>
    </div>
    {% block extra_body_form %}
    <!-- Form -->
    <div class="row justify-content-center">
        <div class="col-lg-8 col-xl-7">
            <form id="loginForm" method="post" action="{% url 'portfolio:top' %}">
                {% csrf_token %}
                <!-- Hidden input for next parameter -->
                <input type="hidden" name="next" value="{{ next }}">
                {% block extra_body_form_contents %}
                {% endblock extra_body_form_contents %}
            </form>
        </div>
    </div>
    {% endblock extra_body_form %}
    <br><br><br><br>
</div>
{% endblock extra_body %}

{% block body_portfolio_modals %}
{% endblock body_portfolio_modals %}
